.demo_board .board_tile {
  z-index: 20;
  box-shadow: 4px 4px 2px 6px rgba(0, 0, 0, 0.6);
  flex-shrink: 0;
}

.board_tile {
  background-image: url("../images/Factory/WholeFloorNoDebris.png");
  background-position: center center; /* Center the image horizontally and vertically */
  background-size: auto; /* Prevent scaling */
  background-repeat: no-repeat; /* Ensure the image doesn't repeat */
}
