.card.front .formatted_wrapper .rules_text {
  .clause {
    font-size: 16px;
  }

  .clause.first {
    margin-top: 40px;
  }

  .or {
    font-size: 12px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
