.conveyor_tile {
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  break-inside: avoid;
  margin-left: 1px;
  margin-top: 1px;
  position: relative;
  overflow: hidden;
}

.demo_board .conveyor_tile {
  margin-right: 10px;
  margin-bottom: 10px;
}

.demo_board .conveyor_tile.ghost {
  opacity: 0.4;
}

.conveyor_tile.ghost .belt {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
