div {
  font-family: "DynaPuff", serif;
}


.page_of_tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;

  .marker {
    left: 0px;
    top: 0px;
    transform: none;
    position: relative;
  }
}