body {
	margin: 0px;
}

.page_of_items {
	page-break-after: always;
	text-align: center;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

.page_of_items.back {
	padding-top: 16px;
	padding-left: 12px;
}

.card {
	margin-left: 0.00px;
	margin-top: 0.00px;
	display: inline-block;
	margin: 2px;
	overflow: hidden;
}


.card.small {
	width: 180px;
	height: 252px;
}

.card.front {
	background: radial-gradient(#ffffff, #f0f0f0);
}

/* Bonus cards */
.card.front.bonus .title {
	margin-top: 28px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 30px;
}

.card.front.bonus .when {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-style: italic;
	font-size: 14px;
}

.card.front.bonus .what {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 16px;
}

/* Agenda cards */
.card.front.agenda .title {
	margin-top: 28px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 30px;
}

.card.front.agenda .flavor {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-style: italic;
	font-size: 14px;
}

.card.front.agenda .goal {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 16px;
}

.card.front.agenda .goal.tiny {
	font-size: 10px;
}

/* Power cards */
.card.front.power .title {
	margin-top: 28px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 30px;
}

.card.front.power .power {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 16px;
}

.card.front.power .timing {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-style: italic;
	font-size: 14px;
}

/* Action cards */
.card.front.action .title {
	margin-top: 28px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 30px;
}

.card.front.action .action {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 24px;
}


/* Event cards */
.card.front.event .title {
	margin-top: 28px;
	font-size: 24px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Courier';
}

.card.front.event .flavor {
	margin-top: 20px;
	font-style: italic;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Courier';
}

.card.front.event .event {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 18px;
	font-family: 'Courier';
}

.card.front.event .resolutionOrder {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 18px;
	font-family: 'Courier';
}

.card.front.event .event div.list {
	font-size: 12px;
	margin-bottom: 15px;
}

.card.front.event .up {
	color: green;
}

.card.front.event .down {
	color: red;
}

/* Shares cards */
.card.front.shares .prefix {
	margin-top: 28px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 30px;
	font-style: italic;
}

.card.front.shares .value {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-style: bold;
	font-size: 48px;
}

.card.front.shares .suffix {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 30px;
	font-style: italic;
}

/* Card backs*/
.card.back {
	border: 1px solid #000000;
	box-sizing: border-box;
	position: relative;
}


.card.back .inset {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 90%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card.back .inset .title {
	transform-origin: center;
	font-family: 'Courier';
	font-size: 54px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.card.back.small .inset .title {
	font-size: 36px;
}

.card.front.order {
	position: relative;
}

.card.front.order .wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.card.front.order .nutProps {
	display: flex;
	margin-bottom: 20px;
}

.card.front.order div.nutProp {
	height: 80px;
	width: 80px;
	margin: auto;
}

.card.front.order div.nutProp.nutType {
	height: 100px;
	width: 100px;
}

.card.front.order div.nutProp img{
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}
