.crossTile {
    border-radius: 10px;
	box-sizing: border-box;
    display: inline-flex;
	break-inside: avoid;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
	overflow:hidden;
}

.crossTile.isDemoBoard {
	background-color: #ffffff;
	z-index: 20;
}