.row {
	position: relative;
    display: flex;
	align-items: center;
	break-inside: avoid;
	border: 1.33px solid rgba(0, 0, 0, .5);
	box-sizing: border-box;
    width: fit-content;
    overflow: hidden;
}

.row.isDemoBoard {
    overflow: visible;
}

.row.version3 {
	background-image: url("../images/Factory/FloorConcrete.png");
}

.row.version4 {
	background-image: url("../images/Factory/FloorWood.jpg");
}

.row.version4.subversion01 {
	background-image: url("../images/Factory/FloorBrick.png");
}

.row .sideBar {
	font-family: 'Courier';
	text-align: center;
	height: 100%;
	position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
}

.row .darkBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.row .sideBar .title {
    font-size: 36;
	font-weight: bold;
	margin-bottom: 10px;
}

.token {
	border: 1.33px solid #000000;
	border-radius: 50%;
	box-sizing: border-box;
	break-inside: avoid;
	z-index: 10;
	height: 80px;
	width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.token .text {
    font-size: 24px;
	font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row .sideBar .subtitle {
    font-size: 20px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 10px;
}

.row .sideBar .instructions {
    font-size: 16px;
}

.row.squirrels .sideBar .instructions .irow.wide .emoji {
	width: 80%;
}

.row.squirrels .sideBar .instructions .irow .emoji {
    font-size: 24px;
	width: 50%;
	display: inline-block;
}

.row .sideBar .usage {
	width: 60px;
}

.row .sideBar .usage .used,.skipped {
	border: 1.33px solid #000000;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;

}

.row .content {
    display: flex;
	height: 100%;
	border-right: 1px solid;
	position: relative;
}

.row .content .slot {
	height: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.row.orders .content .slot {
	align-items: start;
}

.element {
	border: 1.33px solid #000000;
	border-radius: 50%;
	box-sizing: border-box;
	break-inside: avoid;
	z-index: 10;
}

.element .squirrelTitle {
    font-size: 24px;
	font-weight: bold;
}

.element .squirrelIndex {
    font-size: 36px;
	font-weight: bold;
}

.row .content .slot .element {
	background-color: white;
	z-index: 2;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row .content .slot .number {
	break-inside: avoid;
	font-size: 36px;
	font-family: 'Courier';
    display: inline-flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
}

/* slot for card in an order row*/
.row .content .cardSlot {
	outline-style: dotted;
	outline-width: 4px;
	box-sizing: border-box;
	border-radius: 0px;
	border: 0px solid #000000;
}

.row .content .crossTileContainer {
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

.row .content .crossTileContainer.right {
	left: 50%;
}

.row .content .crossTileContainer.left {
	left: -50%;
}

.row .content .crossTileContainer .crossTileSpace {
	border-style: dotted;
	border-width: 4px;
	border-radius: 10px;
	box-sizing: border-box;
	position: absolute;
}

.elementsContainer .element {
	margin: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	position: relative;
}

.elementsContainer .element .image {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 2;
}

.elementsContainer .element .name {
	top: 30%;
	left: 10%;
	font-family: 'Courier';
	z-index: 3;
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 40%);
	font-size: 24px;
	font-weight: bold;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
}
