/* Nuts */
div.pseudo_image.Almond {
  background-image: url("../images/NutProps/Almond.png");
}
div.pseudo_image.Cashew {
  background-image: url("../images/NutProps/Cashew.png");
}
div.pseudo_image.Peanut {
  background-image: url("../images/NutProps/Peanut.png");
}
div.pseudo_image.Pistachio {
  background-image: url("../images/NutProps/Pistachio.png");
}

/* Icons */
div.pseudo_image.AlmondIcon {
  background-image: url("../images/Icons/AlmondIcon.png");
}
div.pseudo_image.CashewIcon {
  background-image: url("../images/Icons/CashewIcon.png");
}
div.pseudo_image.PeanutIcon {
  background-image: url("../images/Icons/PeanutIcon.png");
}
div.pseudo_image.PistachioIcon {
  background-image: url("../images/Icons/PistachioIcon.png");
}
div.pseudo_image.RoasterIcon {
  background-image: url("../images/Icons/RoasterIcon.png");
}
div.pseudo_image.SalterIcon {
  background-image: url("../images/Icons/SalterIcon.png");
}

/* Arrows */
div.pseudo_image.DoubleArrow {
  background-image: url("../images/Arrows/DoubleArrow.png");
}
div.pseudo_image.LeftArrow {
  background-image: url("../images/Arrows/LeftArrow.png");
}
div.pseudo_image.RightArrow {
  background-image: url("../images/Arrows/RightArrow.png");
}

/* Machines */
div.pseudo_image.Machine {
  background-image: url("../images/Machines/Machine.png");
}

/* Markers */
div.pseudo_image.Squirrel {
  background-image: url("../images/Markers/Squirrel.png");
  filter: drop-shadow(0 0 8px white);
}

/* Misc */
div.pseudo_image.ClosedBox {
  background-image: url("../images/Misc/ClosedBox.png");
}
div.pseudo_image.OpenBox {
  background-image: url("../images/Misc/OpenBox.png");
}
div.pseudo_image.CrossBar {
  background-image: url("../images/Misc/CrossBar.png");
}
div.pseudo_image.Truck {
  background-image: url("../images/Misc/Truck.png");
}
div.pseudo_image.Roaster {
  background-image: url("../images/Misc/Roaster.png");
}
div.pseudo_image.Salter {
  background-image: url("../images/Misc/Salter.png");
}
